html {
  height: 100%;
  font-size: 16px;
  
  // @include tablets {
  //   font-size: 14px;
  // }

  // @include phones {
  //   font-size: 13px;
  // }
}

body {  
  height: 100%;
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

// * {
//   box-sizing: border-box;
// }