.mv__info {
  display: block;
  min-height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  overflow: hidden;
}

//wide column
.mv__info-wide-colomn {
  //max-width: 719px;
  border-right: 1px solid #e7e8ec;
  
}

.mv__title-block {
  margin: 15px 20px;
}

.mv__views-count {
  float: right;
  margin-left: 20px;
  font-size: 14px;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
  color: #939393;
  text-align: right;
}

.mv__title {
  font-size: 17px;
  line-height: 23px;
  max-height: 46px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}