.mv__btn-wrap {
  position: absolute;
  top: 0;

  &_next {
    right: 0;
  }

  &_prev {
    left: -64px;
  }

  @include laptop {
    display: none;
  }
}


.mv__btn-control {
  display: block;
  position: absolute;
  padding: 187.5px 22px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 100ms linear;

  &:hover {
    opacity: 1;
  }
  
}

.mv__top-control_wrap {
  position: absolute;
  right: 0;
  top: 0;

  @include laptop {
    display: none;
  }
}

.mv__top-control {
  position: absolute;
}

.mv__top-btn {
  position: relative;
  padding: 6px 24px 6px 20px;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.mv__icon_min {  
  margin: 7px 0;
}
